h1:hover{background-color: crimson
}
h2:hover{background-color: crimson}
image{
    width: 200px;
    height: 200px;
}
p1{
    font-weight: bold;
    font-style: italic;
}
p2{
    font-weight: bold;
    font-style: italic;
}
h3:hover{background-color: crimson}